
<div id="side-bar" class="side-bar">
    <div class="side-cross">
        <i ng-click="sidebarVm.hideMenu()" class="fa fa-remove " style="font-size: 18px;"></i>
    </div>
    <div class="menu-container">
        <ul>

            <li>
                <a href="#" ng-click="login()" >LOGIN</a>
                <!-- <img class="img-icon" src="images/home.png"/> -->
            </li>
            <li>
                <a href="#">REGISTER</a>

            </li>
            <li>
                <a href="#">HOME</a>

            </li>
            <li ng-repeat="tile in sidebarVm.tiles">
                <a href="#">{{tile}}</a>
            </li>
            <li>
                <a href="#">CITIZEN JOURNALIST</a>

            </li>
            <li>
                <a href="#">PHOTOS</a>

            </li>
            <li>
                <a href="#">VIDEOS</a>

            </li>
        </ul>
    </div>

</div>

<script>
   
    
    function hidemenu() {

        document.getElementById('side-bar').className = "side-bar side-menu-close";
    }
</script>