<!--<input type="text" ng-model="UserVm.userData.username"/>
<input type="password" ng-model="UserVm.userData.password"/>
<button ng-click="validate($event)">login</button>-->


<div id="login" class="login">
    <form>
        
        <input type="text" class="user" placeholder="User Name" ng-model="UserVm.userData.userName">
        <input type="password" class="password" placeholder="Password" ng-model="UserVm.userData.password">
        <button class="singin" ng-click="validate($event)" >SIGN IN</button>
    </form>
</div>


